*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 240, 255);
}

h1{
    color: blue;
    text-decoration: underline;
    height: 150px;
}

h4{
    position: absolute;
    bottom: 50px;
    font-size: 12px;
    color: red;
}

.container{
    height: 75vh;
    width: 80vw;
    padding: 20px;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;

    
    background-color: #fff;
    border: 1px solid rgba(0, 72, 255, 0.466);
    border-radius: 36px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.345);
}

form{
    display: flex;
    flex-direction: row;
}

.box-container{
    width: 75vw;
    height: 40%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.box{
    height: 200px;
    width: 20vw;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
    margin: 20px;
}

input{
    height: 30px;
    width: 75%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
    padding: 5px;
    outline: none;
}

select{
    height: 30px;
    width: 75%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
    padding: 5px;
    outline: none;
}

.bottom-container{
    height: 20%;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    height: 30px;
    width: 120px;
    position: absolute;
    bottom: 10%;
    right: 45%;
    border-radius: 5px;
    border: none;
    user-select: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.505);
    transition: 0.2s;

    &:hover{
        background-color: rgba(203, 203, 203, 0.1);
        box-shadow: 0px 0px 10px rgba(0, 2, 138, 0.505);
        color: rgb(0, 2, 138);
        cursor: pointer;
    }
}

.score{
    color: blue;
}


.limite{
    color: green;
}